footer {
    background: url(../img/footer/back_footer.png) no-repeat center center/cover;
    background-color: #5e6371;
    .container {
        padding: 40px 0;
    }
}

.footer_social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    a {
        display: block;
        margin: 0 6px;
    }
    img {
        height: 30px;
    }
}

.footer_text {
    color: #fff;
    font: 1.5rem/30px 'Arial Narrow', arial;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 990px) {
        font: 1.2rem/28px 'Arial Narrow', arial;
    }
    span {
        margin-top: 10px;
        display: block;
        font: 300 1.2rem/23px 'Arial Narrow', arial;
        @media (max-width: 990px) {
            font: 300 1rem/23px 'Arial Narrow', arial;
        }
    }
}